# Sprint 12 Tasca 2. Tasca de web scraping

## Nivell 1

## Exercici 1.  Realitza web scraping d'una pàgina de la borsa de Madrid (https://www.bolsamadrid.es) utilitzant BeautifulSoup i Selenium.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
import warnings

warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

In [2]:
from bs4 import BeautifulSoup
import requests

def get_soup(url):
    res = requests.get(url)
    return BeautifulSoup(res.content, "html.parser")

pag = 'https://www.bolsamadrid.es/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0157097017&ClvEmis=57097'

### Soup conté l'HTML de la pàgina web, ara només hem d'extreure la data que ens interesa

In [3]:
soup = get_soup(pag)

In [4]:
## Amb 'get_text()' podem extreure tot el text de la pàgina sense etiquetes HTML però si només volem extreure alguna info de la pàgina podem filtrat per etiqueta o per id, per exemple
tot_text = soup.get_text()

In [5]:
## Amb '.title.get_text()' podem extreure el títol de la pàgina
titol = soup.title.get_text()
print('Títol: ', titol)

Títol:
	Bolsa de Madrid - Ficha de ALMIRALL, S.A.

In [6]:
## Amb 'soup.p' podem extreure la descripció de l'empresa
descripcio = soup.p
descripcio
print('Descripció: ', descripcio)

Descripció:  <p> Almirall es una compañía biofarmacéutica global enfocada en la salud de la piel. Colaboramos con científicos y profesionales de la salud para abordar las necesidades del paciente a través de la ciencia con el fin de mejorar sus vidas. Nuestro propósito noble guía nuestro trabajo: “Transform the patients' world by helping them realize their hopes and dreams for a healthy life”. Invertimos en productos de dermatología médica diferenciados y pioneros para llevar nuestras soluciones innovadoras a los pacientes que lo necesitan. </p>

In [7]:
## Amb 'soup.find' podem extreure info per id
print()
capital = soup.find(id="ctl00_Contenido_CapAdmDat").get_text()
print('Capital admitido: ', capital)

Capital admitido:  21.573.216,24 Euros

In [8]:
## Utilitzen find + regular expressions per extreure els preus
preus = soup.find(id="ctl00_Contenido_tblPrecios")
print('Últims preus: ', preus)

Últims preus:  <table cellpadding="3" cellspacing="0" class="TblPort" id="ctl00_Contenido_tblPrecios" width="100%">
<tr align="center">
<th scope="col">Fecha</th><th scope="col">Hora</th><th scope="col">Cierre</th><th scope="col">Ref.</th><th scope="col">% Dif.</th><th scope="col">Últ.</th><th scope="col">Máx.</th><th scope="col">Mín.</th><th scope="col">Medio</th><th scope="col">Volumen</th><th class="Ult" scope="col">Efectivo</th>
</tr><tr align="right">
<td align="center" class="enlacePosiciones" data-categoryga="Posiciones Acciones" data-labelga="ALMIRALL">11/02/2022</td><td align="center">Cierre</td><td>10,6200</td><td>10,8400</td><td class="DifClBj">-2,03</td><td>10,6200</td><td>10,8000</td><td>10,6200</td><td>10,7120</td><td>174.262</td><td class="Ult">1.866.688,36</td>
</tr>
</table>

In [9]:
import re
# regex to extract required strings
tag = 'td'
reg_str = "<" + tag + ">(.*?)</" + tag + ">"
preuss = re.findall(reg_str, str(preus))

In [10]:
preuss

['10,6200', '10,8400', '10,6200', '10,8000', '10,6200', '10,7120', '174.262']

In [11]:
preu_cierre = preuss[0]
preu_max = preuss[3]
preu_min = preuss[4]
preu_medio = preuss[5]
volumen = preuss[6]
print('Preu tancament: ', preu_cierre)
print('Preu màxim: ', preu_max)
print('Preu mínim: ', preu_min)
print('Preu mitjà: ', preu_medio)
print('Volumen: ', volumen)

Preu tancament:  10,6200
Preu màxim:  10,8000
Preu mínim:  10,6200
Preu mitjà:  10,7120
Volumen:  174.262

In [12]:
reg_str_2 = "<td align=\"center\" class=\"enlacePosiciones\" data-categoryga=\"Posiciones Acciones\" data-labelga=\"(.*?)\">(.*?)</td>"
data = re.findall(reg_str_2, str(preus))

In [13]:
nom = data[0][0]
fecha = data[0][1]
print('Nom empresa: ', nom)
print('Data: ', fecha)

Nom empresa:  ALMIRALL
Data:  11/02/2022

### Guardem la info en arrays per poder crear després un df amb dades d'altres empreses

In [14]:
arr_empresa = [nom]
arr_descripcio =[descripcio]
arr_fecha = [fecha]
arr_capital = [capital]
arr_cierre = [preu_cierre]
arr_max = [preu_max]
arr_min = [preu_min]
arr_medio = [preu_medio]
arr_vol = [volumen]

### SELENIUM

In [15]:
import  os
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

#from selenium.webdriver.common.keys import Keys
print ('################ Test start ################')
loginUrl  = pag 
loginName = '1001'
loginPass = '1001'
 
options = webdriver.ChromeOptions()
options.add_argument ('- sin cabeza') # Habilita el modo sin cabeza
options.add_argument ('- disable-gpu') # Desactiva la aceleración de la GPU de la tarjeta gráfica, la recomendación oficial es desactivar: https: # bugs.chromium.org / p / chromium / issues / detail? id = 737678
 
 # En el modo sin cabeza, es mejor establecer el tamaño específico, ya que el valor predeterminado se maximiza, después de la captura de pantalla final, es muy pequeño, equivalente a incompleto
 # options.add_argument ('- start-maximized') # Maximizar al inicio
 
options.add_argument ('- no-sandbox') # Desactivar sandbox
options.add_argument ('- disable-plugins') # Desactivar complementos
options.add_argument ('- disable-popup-block') # deshabilitar el aviso de bloqueo
options.add_argument ('- ignore-certificate-errors') # Ignorar aviso de advertencia de error de certificado
 # options.add_argument ('- test-type', '- ignore-certificate-errors') # Ignora el aviso de advertencia de error del certificado, ¡sin efecto!
 # options.add_experimental_option ('excludeSwitches', ['ignore-certificate-errors']) # Ignora el aviso de advertencia de error del certificado, ¡sin efecto!
options.add_argument ('- allow-running-insecure-content') # Desactivar solicitud insegura
options.add_argument ('- disable-infobars') # Desactiva el mensaje "Chrome está siendo controlado por un software de prueba automático"
 
driver  = webdriver.Chrome(chrome_options=options)  # Firefox()  , Ie()
 # Establecer el tamaño y la ubicación del navegador
driver.set_window_position (50,50); # La coordenada de la ventana en relación con la esquina superior izquierda de la pantalla (0,0)
driver.set_window_size (1440,900); # tamaño de ventana 
 
print ('---> URL de visita: ' + loginUrl)
driver.get(loginUrl)

# Imprimir título de la página  actual
print('---> Título de la pág.: '  + driver.title)
 
# Buscar otra empresa en el buscador
print('---> Buscar otra empresa en el buscador')
elem = driver.find_element_by_name("busq")
elem.send_keys("Banco de Sabadell")
elem.send_keys(Keys.RETURN)
continue_link = driver.find_element_by_link_text('BANCO DE SABADELL, S.A.')
continue_link.send_keys(Keys.RETURN)

# Imprimir título de la segunda página
print('---> Título de la segunda pág.: ' + driver.title)

## Extreure info de la pàgina per afegir-la a les nostres arrays
soup = get_soup(driver.current_url)

arr_descripcio.append(soup.p)
arr_capital.append(soup.find(id="ctl00_Contenido_CapAdmDat").get_text())

preus = soup.find(id="ctl00_Contenido_tblPrecios")
tag = 'td'
reg_str = "<" + tag + ">(.*?)</" + tag + ">"
preuss = re.findall(reg_str, str(preus))

reg_str_2 = "<td align=\"center\" class=\"enlacePosiciones\" data-categoryga=\"Posiciones Acciones\" data-labelga=\"(.*?)\">(.*?)</td>"
data = re.findall(reg_str_2, str(preus))

arr_empresa.append(data[0][0])
arr_fecha.append(data[0][1])
arr_cierre.append(preuss[0])
arr_max.append(preuss[3])
arr_min.append(preuss[4])
arr_medio.append(preuss[5])
arr_vol.append(preuss[6])

# Ir al gráfico de 5 años
print('---> Ir al gráfico de 5 años')
graf_5 = driver.find_element_by_partial_link_text('5 años')
graf_5.send_keys(Keys.RETURN)

# Imprimir título de la tercera página
print('---> Título de la tercera pág.: ' + driver.title)

# Buscar otra empresa en el buscador
print('---> Buscar otra empresa en el buscador')
elem = driver.find_element_by_name("busq")
elem.send_keys("ACCIONA,S.A.")
elem.send_keys(Keys.RETURN)
continue_link = driver.find_element_by_link_text('ACCIONA,S.A.')
continue_link.send_keys(Keys.RETURN)

# Imprimir título de la cuarta página
print('---> Título de la cuarta pág.: ' + driver.title)

## Extreure info de la pàgina per afegir-la a les nostres arrays
soup = get_soup(driver.current_url)

arr_descripcio.append(soup.p)
arr_capital.append(soup.find(id="ctl00_Contenido_CapAdmDat").get_text())

preus = soup.find(id="ctl00_Contenido_tblPrecios")
tag = 'td'
reg_str = "<" + tag + ">(.*?)</" + tag + ">"
preuss = re.findall(reg_str, str(preus))

reg_str_2 = "<td align=\"center\" class=\"enlacePosiciones\" data-categoryga=\"Posiciones Acciones\" data-labelga=\"(.*?)\">(.*?)</td>"
data = re.findall(reg_str_2, str(preus))

arr_empresa.append(data[0][0])
arr_fecha.append(data[0][1])
arr_cierre.append(preuss[0])
arr_max.append(preuss[3])
arr_min.append(preuss[4])
arr_medio.append(preuss[5])
arr_vol.append(preuss[6])

print ('---> Cerrar el navegador')
driver.close()
print ('################ Fin de la prueba ################')

################ Test start ################
---> URL de visita: https://www.bolsamadrid.es/esp/aspx/Empresas/FichaValor.aspx?ISIN=ES0157097017&ClvEmis=57097
---> Título de la pág.: Bolsa de Madrid - Ficha de ALMIRALL, S.A.
---> Buscar otra empresa en el buscador
---> Título de la segunda pág.: Bolsa de Madrid - Ficha de BANCO DE SABADELL, S.A.
---> Ir al gráfico de 5 años
---> Título de la tercera pág.: Bolsa de Madrid
---> Buscar otra empresa en el buscador
---> Título de la cuarta pág.: Bolsa de Madrid - Ficha de ACCIONA,S.A.
---> Cerrar el navegador
################ Fin de la prueba ################

### Creem el df amb les dades que hem recollit

In [23]:
df = pd.DataFrame(arr_empresa,columns =['Empresa'])
df['Descripcio'] = arr_descripcio
df['Data'] = arr_fecha
df['Capital'] = arr_capital
df['Preu_cierre'] = arr_cierre 
df['Preu_max'] = arr_max
df['Preu_min'] = arr_min
df['Preu_medio'] = arr_medio
df['Volumen'] = arr_vol 
df

,Empresa,Descripcio,Data,Capital,Preu_cierre,Preu_max,Preu_min,Preu_medio,Volumen
0,ALMIRALL,[ Almirall es una compañía biofarmacéutica glo...,11/02/2022,"21.573.216,24 Euros","10,6200","10,8000","10,6200","10,7120",174.262
1,BANCO DE SABADELL,[Banco Sabadell encabeza el cuarto grupo banca...,11/02/2022,"703.370.587,62 Euros","0,9432","0,9484","0,9222","0,9388",48.392.926
2,ACCIONA,[ACCIONA es una de las principales corporacion...,11/02/2022,"54.856.653,00 Euros","144,0000","145,6000","141,9000","144,0652",101.375

## Nivell 2

## Exercici 2. Documenta en un word el teu conjunt de dades generat amb la informació que tenen els diferents arxius de Kaggle.

**Atenció**    *En lloc de crear un word, he inclòs la informació en les següent cel·les formatejant-la amb l'ajuda de Markdown*

#### Context

Aquest conjunt de dades inclou informació de tres empreses que es troben el l'**IBEX 35**: Almirall, Acciona i Banco de Sabadell. Entre les dades que s'han extret hi ha una descripció de l'empresa, el seu capital i volum, i els valors màxim, mínim, mitjà i de tancament del preu en el día de la consulta.

#### Contingut

- Empresa: El nom oficial de l'empresa.
- Descripcio: Petita descripció de l'empresa.
- Data: El dia, mes i any (en format: dd/mm/yyyy) en que s'han consultat els valors (no fa referència al moment en que s'ha fet l'scrapping, sino en que s'han publicat les dades al web, ja que en dissabte i diumenge no hi ha actualitzacions al web, per tant, la data dels dissabtes i diumenges serà la del divendres anterior.
- Capital: El capital social de l'empresa (en €).
- Preu_cierre: El preu de tancament, és a dir, el preu de l'acció en el moment què s'ha tancat la borsa en el dia que s'indica a la Data.
- Preu_max: El preu màxim de l'acció assollit durant el dia que s'indica a la Data.
- Preu_min: El preu mínim de l'acció assollit durant el dia que s'indica a la Data.
- Preu_medio: El preu mirtjà al que ha estat l'acció durant el dia que s'indica a la Data.
- Volumen: El nombre d'accions que han estat objecte de compra venda durant el dia que s'indica a la Data.

#### Agraïment

Les dades han estat srapejades de la pàgina web de la Bolsa de Madrid: https://www.bolsamadrid.es/.

## Nivell 3

## Exercici 3. Tria una página web que tu vulguis i realitza web scraping mitjançant la llibreria Scrapy.

Després de seguir el tutorial de https://docs.scrapy.org/en/latest/intro/tutorial.html aquests son els documents JSON amb les dades que hem descarregat de la pàgina quotes.

In [30]:
import json

with open('quotes.json') as f:
    json_data = json.load(f)
    
with open('author.json') as f:
    json_data_2 = json.load(f)

In [31]:
json_data[:10]

[{'text': '“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”',
  'author': 'Albert Einstein'},
 {'text': '“It is our choices, Harry, that show what we truly are, far more than our abilities.”',
  'author': 'J.K. Rowling'},
 {'text': '“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”',
  'author': 'Albert Einstein'},
 {'text': '“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”',
  'author': 'Jane Austen'},
 {'text': "“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”",
  'author': 'Marilyn Monroe'},
 {'text': '“Try not to become a man of success. Rather become a man of value.”',
  'author': 'Albert Einstein'},
 {'text': '“It is better to be hated for what you are than to be loved for what you are not.”',
  'author': 'André Gide'},
 {'text': "“I have not failed. I've just found 10,000 ways that won't work.”",
  'author': 'Thomas A. Edison'},
 {'text': "“A woman is like a tea bag; you never know how strong it is until it's in hot water.”",
  'author': 'Eleanor Roosevelt'},
 {'text': '“A day without sunshine is like, you know, night.”',
  'author': 'Steve Martin'}]

In [32]:
json_data_2[:10]

[{'name': 'Thomas A. Edison',
  'birthdate': 'February 11, 1847',
  'bio': 'Thomas Alva Edison was an American inventor, scientist and businessman who developed many devices that greatly influenced life around the world, including the phonograph, the motion picture camera, and a long-lasting, practical electric light bulb. Dubbed "The Wizard of Menlo Park" (now Edison, New Jersey) by a newspaper reporter, he was one of the first inventors to apply the principles of mass production and large teamwork to the process of invention, and therefore is often credited with the creation of the first industrial research laboratory.Edison is considered one of the most prolific inventors in history, holding 1,093 U.S. patents in his name, as well as many patents in the United Kingdom, France and Germany. He is credited with numerous inventions that contributed to mass communication and, in particular, telecommunications. His advanced work in these fields was an outgrowth of his early career as a telegraph operator. Edison originated the concept and implementation of electric-power generation and distribution to homes, businesses, and factories – a crucial development in the modern industrialized world. His first power station was on Manhattan Island, New York.'},
 {'name': 'André Gide',
  'birthdate': 'November 22, 1869',
  'bio': "André Paul Guillaume Gide was a French author and winner of the Nobel Prize in literature in 1947. Gide's career ranged from its beginnings in the symbolist movement, to the advent of anticolonialism between the two World Wars.Known for his fiction as well as his autobiographical works, Gide exposes to public view the conflict and eventual reconciliation between the two sides of his personality, split apart by a straight-laced education and a narrow social moralism. Gide's work can be seen as an investigation of freedom and empowerment in the face of moralistic and puritan constraints, and gravitates around his continuous effort to achieve intellectual honesty. His self-exploratory texts reflect his search of how to be fully oneself, even to the point of owning one's sexual nature, without at the same time betraying one's values. His political activity is informed by the same ethos, as suggested by his repudiation of communism after his 1936 voyage to the USSR."},
 {'name': 'Eleanor Roosevelt',
  'birthdate': 'October 11, 1884',
  'bio': 'Anna Eleanor Roosevelt was an American political leader who used her influence as an active First Lady from 1933 to 1945 to promote the New Deal policies of her husband, President Franklin D. Roosevelt, as well as taking a prominent role as an advocate for civil rights. After her husband\'s death in 1945, she continued to be an internationally prominent author and speaker for the New Deal coalition. She was a suffragist who worked to enhance the status of working women, although she opposed the Equal Rights Amendment because she believed it would adversely affect women. In the 1940s, she was one of the co-founders of Freedom House and supported the formation of the United Nations. Eleanor Roosevelt founded the UN Association of the United States in 1943 to advance support for the formation of the UN. She was a delegate to the UN General Assembly from 1945 and 1952, a job for which she was appointed by President Harry S. Truman and confirmed by the United States Congress. During her time at the United Nations chaired the committee that drafted and approved the Universal Declaration of Human Rights. President Truman called her the "First Lady of the World" in tribute to her human rights achievements.She was one of the most admired persons of the 20th century, according to Gallup\'s List of Widely Admired People.'},
 {'name': 'Jane Austen',
  'birthdate': 'December 16, 1775',
  'bio': "Jane Austen was an English novelist whose works of romantic fiction, set among the landed gentry, earned her a place as one of the most widely read writers in English literature, her realism and biting social commentary cementing her historical importance among scholars and critics.Austen lived her entire life as part of a close-knit family located on the lower fringes of the English landed gentry. She was educated primarily by her father and older brothers as well as through her own reading. The steadfast support of her family was critical to her development as a professional writer. Her artistic apprenticeship lasted from her teenage years until she was about 35 years old. During this period, she experimented with various literary forms, including the epistolary novel which she tried then abandoned, and wrote and extensively revised three major novels and began a fourth. From 1811 until 1816, with the release of Sense and Sensibility (1811), Pride and Prejudice (1813), Mansfield Park (1814) and Emma (1815), she achieved success as a published writer. She wrote two additional novels, Northanger Abbey and Persuasion, both published posthumously in 1818, and began a third, which was eventually titled Sanditon, but died before completing it.Austen's works critique the novels of sensibility of the second half of the 18th century and are part of the transition to 19th-century realism. Her plots, though fundamentally comic, highlight the dependence of women on marriage to secure social standing and economic security. Her work brought her little personal fame and only a few positive reviews during her lifetime, but the publication in 1869 of her nephew's A Memoir of Jane Austen introduced her to a wider public, and by the 1940s she had become widely accepted in academia as a great English writer. The second half of the 20th century saw a proliferation of Austen scholarship and the emergence of a Janeite fan culture."},
 {'name': 'J.K. Rowling',
  'birthdate': 'July 31, 1965',
  'bio': 'See also: Robert GalbraithAlthough she writes under the pen name J.K. Rowling, pronounced like rolling, her name when her first Harry Potter book was published was simply Joanne Rowling. Anticipating that the target audience of young boys might not want to read a book written by a woman, her publishers demanded that she use two initials, rather than her full name. As she had no middle name, she chose K as the second initial of her pen name, from her paternal grandmother Kathleen Ada Bulgen Rowling. She calls herself Jo and has said, "No one ever called me \'Joanne\' when I was young, unless they were angry." Following her marriage, she has sometimes used the name Joanne Murray when conducting personal business. During the Leveson Inquiry she gave evidence under the name of Joanne Kathleen Rowling. In a 2012 interview, Rowling noted that she no longer cared that people pronounced her name incorrectly.Rowling was born to Peter James Rowling, a Rolls-Royce aircraft engineer, and Anne Rowling (née Volant), on 31 July 1965 in Yate, Gloucestershire, England, 10 miles (16 km) northeast of Bristol. Her mother Anne was half-French and half-Scottish. Her parents first met on a train departing from King\'s Cross Station bound for Arbroath in 1964. They married on 14 March 1965. Her mother\'s maternal grandfather, Dugald Campbell, was born in Lamlash on the Isle of Arran. Her mother\'s paternal grandfather, Louis Volant, was awarded the Croix de Guerre for exceptional bravery in defending the village of Courcelles-le-Comte during the First World War.Rowling\'s sister Dianne was born at their home when Rowling was 23 months old. The family moved to the nearby village Winterbourne when Rowling was four. She attended St Michael\'s Primary School, a school founded by abolitionist William Wilberforce and education reformer Hannah More. Her headmaster at St Michael\'s, Alfred Dunn, has been suggested as the inspiration for the Harry Potter headmaster Albus Dumbledore.As a child, Rowling often wrote fantasy stories, which she would usually then read to her sister. She recalls that: "I can still remember me telling her a story in which she fell down a rabbit hole and was fed strawberries by the rabbit family inside it. Certainly the first story I ever wrote down (when I was five or six) was about a rabbit called Rabbit. He got the measles and was visited by his friends, including a giant bee called Miss Bee." At the age of nine, Rowling moved to Church Cottage in the Gloucestershire village of Tutshill, close to Chepstow, Wales. When she was a young teenager, her great aunt, who Rowling said "taught classics and approved of a thirst for knowledge, even of a questionable kind," gave her a very old copy of Jessica Mitford\'s autobiography, Hons and Rebels. Mitford became Rowling\'s heroine, and Rowling subsequently read all of her books.Rowling has said of her teenage years, in an interview with The New Yorker, "I wasn’t particularly happy. I think it’s a dreadful time of life." She had a difficult homelife; her mother was ill and she had a difficult relationship with her father (she is no longer on speaking terms with him). She attended secondary school at Wyedean School and College, where her mother had worked as a technician in the science department. Rowling said of her adolescence, "Hermione [a bookish, know-it-all Harry Potter character] is loosely based on me. She\'s a caricature of me when I was eleven, which I\'m not particularly proud of." Steve Eddy, who taught Rowling English when she first arrived, remembers her as "not exceptional" but "one of a group of girls who were bright, and quite good at English." Sean Harris, her best friend in the Upper Sixth owned a turquoise Ford Anglia, which she says inspired the one in her books.'},
 {'name': 'Marilyn Monroe',
  'birthdate': 'June 01, 1926',
  'bio': 'Marilyn Monroe (born Norma Jeane Mortenson; June 1, 1926 – August 5, 1962) was an American actress, model, and singer, who became a major sex symbol, starring in a number of commercially successful motion pictures during the 1950s and early 1960s.After spending much of her childhood in foster homes, Monroe began a career as a model, which led to a film contract in 1946 with Twentieth Century-Fox. Her early film appearances were minor, but her performances in The Asphalt Jungle and All About Eve (both 1950), drew attention. By 1952 she had her first leading role in Don\'t Bother to Knock and 1953 brought a lead in Niagara, a melodramatic film noir that dwelt on her seductiveness. Her "dumb blonde" persona was used to comic effect in subsequent films such as Gentlemen Prefer Blondes (1953), How to Marry a Millionaire (1953) and The Seven Year Itch (1955). Limited by typecasting, Monroe studied at the Actors Studio to broaden her range. Her dramatic performance in Bus Stop (1956) was hailed by critics and garnered a Golden Globe nomination. Her production company, Marilyn Monroe Productions, released The Prince and the Showgirl (1957), for which she received a BAFTA Award nomination and won a David di Donatello award. She received a Golden Globe Award for her performance in Some Like It Hot (1959). Monroe\'s last completed film was The Misfits, co-starring Clark Gable with screenplay by her then-husband, Arthur Miller.Marilyn was a passionate reader, owning four hundred books at the time of her death, and was often photographed with a book.The final years of Monroe\'s life were marked by illness, personal problems, and a reputation for unreliability and being difficult to work with. The circumstances of her death, from an overdose of barbiturates, have been the subject of conjecture. Though officially classified as a "probable suicide", the possibility of an accidental overdose, as well as of homicide, have not been ruled out. In 1999, Monroe was ranked as the sixth greatest female star of all time by the American Film Institute. In the decades following her death, she has often been cited as both a pop and a cultural icon as well as the quintessential American sex symbol.'},
 {'name': 'Steve Martin',
  'birthdate': 'August 14, 1945',
  'bio': 'Stephen Glenn "Steve" Martin is an American actor, comedian, writer, playwright, producer, musician, and composer. He was raised in Southern California in a Baptist family, where his early influences were working at Disneyland and Knott\'s Berry Farm and working magic and comedy acts at these and other smaller venues in the area. His ascent to fame picked up when he became a writer for the Smothers Brothers Comedy Hour, and later became a frequent guest on the Tonight Show.In the 1970s, Martin performed his offbeat, absurdist comedy routines before packed houses on national tours. In the 1980s, having branched away from stand-up comedy, he became a successful actor, playwright, and juggler, and eventually earned Emmy, Grammy, and American Comedy awards.'},
 {'name': 'Albert Einstein',
  'birthdate': 'March 14, 1879',
  'bio': 'In 1879, Albert Einstein was born in Ulm, Germany. He completed his Ph.D. at the University of Zurich by 1909. His 1905 paper explaining the photoelectric effect, the basis of electronics, earned him the Nobel Prize in 1921. His first paper on Special Relativity Theory, also published in 1905, changed the world. After the rise of the Nazi party, Einstein made Princeton his permanent home, becoming a U.S. citizen in 1940. Einstein, a pacifist during World War I, stayed a firm proponent of social justice and responsibility. He chaired the Emergency Committee of Atomic Scientists, which organized to alert the public to the dangers of atomic warfare.At a symposium, he advised: "In their struggle for the ethical good, teachers of religion must have the stature to give up the doctrine of a personal God, that is, give up that source of fear and hope which in the past placed such vast power in the hands of priests. In their labors they will have to avail themselves of those forces which are capable of cultivating the Good, the True, and the Beautiful in humanity itself. This is, to be sure a more difficult but an incomparably more worthy task . . . " ("Science, Philosophy and Religion, A Symposium," published by the Conference on Science, Philosophy and Religion in their Relation to the Democratic Way of Life, Inc., New York, 1941). In a letter to philosopher Eric Gutkind, dated Jan. 3, 1954, Einstein stated: "The word god is for me nothing more than the expression and product of human weaknesses, the Bible a collection of honorable, but still primitive legends which are nevertheless pretty childish. No interpretation no matter how subtle can (for me) change this," (The Guardian, "Childish superstition: Einstein\'s letter makes view of religion relatively clear," by James Randerson, May 13, 2008). D. 1955.While best known for his mass–energy equivalence formula E = mc2 (which has been dubbed "the world\'s most famous equation"), he received the 1921 Nobel Prize in Physics "for his services to theoretical physics, and especially for his discovery of the law of the photoelectric effect". The latter was pivotal in establishing quantum theory.Einstein thought that Newtonion mechanics was no longer enough to reconcile the laws of classical mechanics with the laws of the electromagnetic field. This led to the development of his special theory of relativity. He realized, however, that the principle of relativity could also be extended to gravitational fields, and with his subsequent theory of gravitation in 1916, he published a paper on the general theory of relativity. He continued to deal with problems of statistical mechanics and quantum theory, which led to his explanations of particle theory and the motion of molecules. He also investigated the thermal properties of light which laid the foundation of the photon theory of light.He was visiting the United States when Adolf Hitler came to power in 1933 and did not go back to Germany. On the eve of World War II, he endorsed a letter to President Franklin D. Roosevelt alerting him to the potential development of "extremely powerful bombs of a new type" and recommending that the U.S. begin similar research. This eventually led to what would become the Manhattan Project. Einstein supported defending the Allied forces, but largely denounced the idea of using the newly discovered nuclear fission as a weapon. Later, with Bertrand Russell, Einstein signed the Russell–Einstein Manifesto, which highlighted the danger of nuclear weapons. Einstein was affiliated with the Institute for Advanced Study in Princeton, New Jersey, until his death in 1955.His great intellectual achievements and originality have made the word "Einstein" synonymous with genius.More: http://en.wikipedia.org/wiki/Albert_E...http://www.nobelprize.org/nobel_prize...'},
 {'name': 'Allen Saunders',
  'birthdate': 'April 24, 1899',
  'bio': "Allen Saunders was an American writer, journalist and cartoonist who wrote the comic strips Steve Roper and Mike Nomad, Mary Worth and Kerry Drake. His full name, John Allen Saunders, sometimes led to confusion with his son John (John Phillip Saunders, 1924–2003), who later continued two of his father's strips.Born in Lebanon, Indiana, Saunders enjoyed newspaper comics as a youth, and he practiced drawing them. After graduating from Wabash College in 1920, he taught French there for seven years while working in the summers on his M.A. at the University of Chicago and taking night classes at the Chicago Academy of Fine Arts. He drew editorial cartoons and the single-panel Miserable Moments, wrote detective fiction for magazines, worked in Chautauqua theater and wrote plays. These experiences converged in his later comics career.[2]In 1927, while on sabbatical from Wabash, he moved to Toledo, Ohio as a reporter and drama critic for the News-Bee, and he stayed on with that newspaper. Eight years later, Elmer Woggon (a friend at the rival Toledo Blade) proposed a comic strip for Publishers Syndicate (later Publishers-Hall Syndicate), The Great Gusto, which he would draw if Saunders did the writing. They shook on it, but it wasn't accepted until they refocused on its Indian character. On November 23, 1936, it finally appeared in the newspapers as Big Chief Wahoo and scored a success—fortunately, as Saunders' regular job ended when the News-Bee folded in 1938. Gags gave way to adventure strips, so in 1940, he began to reshape the narrative into Steve Roper, centered on the escapades of a racket-busting photojournalist"},
 {'name': 'Mark Twain',
  'birthdate': 'November 30, 1835',

### Ara podem crear un df unint les dades dels dos arxius

In [35]:
df_test_author = pd.DataFrame.from_dict(json_data)
df_test_author.head()

                                                text           author
0  “The world as we have created it is a process ...  Albert Einstein
1  “It is our choices, Harry, that show what we t...     J.K. Rowling
2  “There are only two ways to live your life. On...  Albert Einstein
3  “The person, be it gentleman or lady, who has ...      Jane Austen
4  “Imperfection is beauty, madness is genius and...   Marilyn Monroe

In [36]:
df_bio_author = pd.DataFrame.from_dict(json_data_2)
df_bio_author.head()

,name,birthdate,bio
0,Thomas A. Edison,"February 11, 1847","Thomas Alva Edison was an American inventor, s..."
1,André Gide,"November 22, 1869",André Paul Guillaume Gide was a French author ...
2,Eleanor Roosevelt,"October 11, 1884",Anna Eleanor Roosevelt was an American politic...
3,Jane Austen,"December 16, 1775",Jane Austen was an English novelist whose work...
4,J.K. Rowling,"July 31, 1965",See also: Robert GalbraithAlthough she writes ...

In [41]:
df_bio_author_2 = df_bio_author.rename(columns={"name": "author"})
df_bio_author_2.head()

,author,birthdate,bio
0,Thomas A. Edison,"February 11, 1847","Thomas Alva Edison was an American inventor, s..."
1,André Gide,"November 22, 1869",André Paul Guillaume Gide was a French author ...
2,Eleanor Roosevelt,"October 11, 1884",Anna Eleanor Roosevelt was an American politic...
3,Jane Austen,"December 16, 1775",Jane Austen was an English novelist whose work...
4,J.K. Rowling,"July 31, 1965",See also: Robert GalbraithAlthough she writes ...

In [43]:
df_final = pd.merge(df_test_author, df_bio_author_2, on='author')

### Aquest és el resultat: un conjunt de dades amb 99 cites de 49 autors diferents, amb la seva data de naixement i una petita biografia.

L'autor amb més cites es Albert Einstein (10 cites), següit per J. K. Rowling amb 1 cita menys i Marilyn Monroe amb 7 cites.

In [65]:
df_final.tail(10)

,text,author,birthdate,bio
89,“The reason I talk to myself is because I’m th...,George Carlin,"May 12, 1937",George Denis Patrick Carlin was a Grammy-winni...
90,"“You may say I'm a dreamer, but I'm not the on...",John Lennon,"October 09, 1940","John Winston Ono Lennon, MBE, was an English s..."
91,“I am free of all prejudice. I hate everyone e...,W.C. Fields,"January 29, 1880",W. C. Fields was born William Claude Dukenfiel...
92,“The question isn't who is going to let me; it...,Ayn Rand,"February 02, 1905",Alisa Rosenbaum was born in pre-revolutionary ...
93,“I'm the one that's got to die when it's time ...,Jimi Hendrix,"November 27, 1942","Jimi Hendrix was an American guitarist, singer..."
94,“To die will be an awfully big adventure.”,J.M. Barrie,"May 09, 1860","Sir James Matthew Barrie, 1st Baronet, OM (9 M..."
95,“It takes courage to grow up and become who yo...,E.E. Cummings,"October 14, 1894","Edward Estlin Cummings was born in Cambridge, ..."
96,“But better to get hurt by the truth than comf...,Khaled Hosseini,"March 04, 1965","Hosseini was born in Kabul, Afghanistan, in 19..."
97,“You never really understand a person until yo...,Harper Lee,"April 28, 1926","Harper Lee, known as Nelle, was born in the Al..."
98,“You have to write the book that wants to be w...,Madeleine L'Engle,"November 29, 1918",Madeleine L'Engle was an American writer best ...

In [59]:
df_final.author.value_counts().head()

Albert Einstein    10
J.K. Rowling        9
Marilyn Monroe      7
Dr. Seuss           6
Mark Twain          6
Name: author, dtype: int64

In [60]:
df_final.author.nunique()

49